:root {
  --c-txt-titolo: brown;
  --c-bkg-body: rgba(245, 245, 220, 0.511);
  --c-tasto-nav: rgb(217, 217, 128);
}

h1 {
  color: var(--c-txt-titolo);
}
body {
  background-color: rgba(245, 245, 220, 0.511);
}
.tasto-nav {
  background-color: rgb(217, 217, 128);
  width: 120px;
  text-align: center;
  padding: 3px;
  /*list-style-type: none;*/ /* toglie i punti di evidenza */
  display: inline-block; /* lo converte in un elemento normale */
}

.tasto-nav:hover {
  /*border: 2px solid black;*/
  background-color: rgb(184, 184, 85);
}

a:link {
  color: var(--c-txt-titolo);
}

nav a:visited {
  color: var(--c-bkg-body);
}

a:visited {
  color: black;
}

p {
  /*border: 2px solid var(--c-txt-titolo);*/
  /*padding: 15px;*/
  text-align: justify;
}

img {
  max-width: 350px;
  max-height: 200px;
}

.right {
  float: right;
  margin: 20px 0px 8px 10px;
}

.margine-div {
  border: 2px solid var(--c-txt-titolo);
  padding: 15px;
  /*margin-left: 200px;*/
}

.sticky {
  position: sticky;
  /*left: 10px;*/
  top: 10px;
}

.box {
  background-color: var(--c-tasto-nav);
  min-width: 180px;
  height: fit-content;
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: row; /* row | row-reverse | column | column-reverse; */
  flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
  justify-content: flex-start; /* flex-start | flex-end | center | space-between | space-around |space-evenly; */
  align-items: stretch; /* stretch | flex-start | flex-end | center | baseline; */
  align-content: space-around; /* flex-start | flex-end | center | space-between | space-around | space-evenly | stretch; */
  /* gap: 50px 10px; */ /* ! gap row column  [ in conflitto con le proprietà a calcolo automatico del gap ] */
}

@media screen and (max-width: 500px) {
  .box {
    min-width: fit-content;
    padding-right: 20px;
    /*height: 300px;*/
    margin-right: 15px;
  }

  .container {
    display: flex;
    flex-direction: column; /* row | row-reverse | column | column-reverse; */
    flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
    justify-content: flex-start; /* flex-start | flex-end | center | space-between | space-around |space-evenly; */
    align-items: stretch; /* stretch | flex-start | flex-end | center | baseline; */
    align-content: space-around; /* flex-start | flex-end | center | space-between | space-around | space-evenly | stretch;*/
  }
}

.cont-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

section{
border : 1px solid red
}

